# Content based filtering

This notebook process data to create a ml model.

## Loading data from csv

In [1]:
import pandas as pd
df = pd.read_csv("dataset_id_0_50000.csv")
df.set_index("id",inplace=True)
#Replace NaN values
runtime_mean = int(df["runtime"].mean())
#Substitute runtime NaN with average runtime
df["runtime"].fillna(runtime_mean,inplace=True)
#Substitute release_date NaN with 0
df.fillna(0,inplace=True)
df

,budget,original_title,popularity,release_date,revenue,runtime,vote_average,vote_count,Action,Adventure,...,History,Horror,Music,Mystery,Romance,Science Fiction,TV Movie,Thriller,War,Western
id,,,,,,,,,,,,,,,,,,,,,
2,0,Ariel,9.576,1988-10-21,0,73.0,6.8,157,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,Varjoja paratiisissa,7.409,1986-10-17,0,74.0,7.2,158,0,0,...,0,0,0,0,0,0,0,0,0,0
5,4000000,Four Rooms,17.547,1995-12-09,4257354,98.0,5.7,2127,0,0,...,0,0,0,0,0,0,0,0,0,0
6,21000000,Judgment Night,11.193,1993-10-15,12136938,110.0,6.5,230,1,0,...,0,0,0,0,0,0,0,1,0,0
8,42000,Life in Loops (A Megacities RMX),2.463,2006-01-01,0,80.0,7.5,18,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
71149,0,Phish: Glenns Falls October 31st 1994,0.697,1994-10-31,0,225.0,4.5,2,0,0,...,0,0,1,0,0,0,0,0,0,0
71150,0,Phish - MSG 1-1-11,0.600,0,0,241.0,0.0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
71151,0,Phish - MSG 1-1-11,0.600,0,0,214.0,0.0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
71152,0,Phish - MSG - 12-31-2010,0.600,0,0,183.0,0.0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
71153,0,R.I.P. Rocket From the Crypt,2.050,2008-02-26,0,121.0,4.5,2,0,0,...,0,0,1,0,0,0,0,0,0,0

## Extracting title column

In [2]:
titles = df[["original_title","release_date"]]
titles

                              original_title release_date
id
2                                      Ariel   1988-10-21
3                       Varjoja paratiisissa   1986-10-17
5                                 Four Rooms   1995-12-09
6                             Judgment Night   1993-10-15
8           Life in Loops (A Megacities RMX)   2006-01-01
...                                      ...          ...
71149  Phish: Glenns Falls October 31st 1994   1994-10-31
71150                     Phish - MSG 1-1-11            0
71151                     Phish - MSG 1-1-11            0
71152               Phish - MSG - 12-31-2010            0
71153           R.I.P. Rocket From the Crypt   2008-02-26

[49999 rows x 2 columns]

### Eliminate title column

In [3]:
df.drop("original_title",axis=1,inplace=True)
df

,budget,popularity,release_date,revenue,runtime,vote_average,vote_count,Action,Adventure,Animation,...,History,Horror,Music,Mystery,Romance,Science Fiction,TV Movie,Thriller,War,Western
id,,,,,,,,,,,,,,,,,,,,,
2,0,9.576,1988-10-21,0,73.0,6.8,157,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,7.409,1986-10-17,0,74.0,7.2,158,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,4000000,17.547,1995-12-09,4257354,98.0,5.7,2127,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6,21000000,11.193,1993-10-15,12136938,110.0,6.5,230,1,0,0,...,0,0,0,0,0,0,0,1,0,0
8,42000,2.463,2006-01-01,0,80.0,7.5,18,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
71149,0,0.697,1994-10-31,0,225.0,4.5,2,0,0,0,...,0,0,1,0,0,0,0,0,0,0
71150,0,0.600,0,0,241.0,0.0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
71151,0,0.600,0,0,214.0,0.0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
71152,0,0.600,0,0,183.0,0.0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
71153,0,2.050,2008-02-26,0,121.0,4.5,2,0,0,0,...,0,0,1,0,0,0,0,0,0,0

## Transform date to ordinal

In [4]:
from datetime import datetime

def date_to_ordinal(date):
    """Date is in format %Y-%m-%d"""
    if date != 0:
        return datetime.strptime(date, "%Y-%m-%d").toordinal()
    else:
        return 0

#apply method apply function in all element column(s)
#transform method is similar to apply
df["release_date"] = df["release_date"].apply(date_to_ordinal)
df

,budget,popularity,release_date,revenue,runtime,vote_average,vote_count,Action,Adventure,Animation,...,History,Horror,Music,Mystery,Romance,Science Fiction,TV Movie,Thriller,War,Western
id,,,,,,,,,,,,,,,,,,,,,
2,0,9.576,726031,0,73.0,6.8,157,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,7.409,725296,0,74.0,7.2,158,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,4000000,17.547,728636,4257354,98.0,5.7,2127,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6,21000000,11.193,727851,12136938,110.0,6.5,230,1,0,0,...,0,0,0,0,0,0,0,1,0,0
8,42000,2.463,732312,0,80.0,7.5,18,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
71149,0,0.697,728232,0,225.0,4.5,2,0,0,0,...,0,0,1,0,0,0,0,0,0,0
71150,0,0.600,0,0,241.0,0.0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
71151,0,0.600,0,0,214.0,0.0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
71152,0,0.600,0,0,183.0,0.0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
71153,0,2.050,733098,0,121.0,4.5,2,0,0,0,...,0,0,1,0,0,0,0,0,0,0

In [5]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
scaler.fit(df)
df_standard = pd.DataFrame(scaler.transform(df),columns=df.columns)
df_standard["id"] = df.index
df_standard.set_index("id",inplace=True)
df_standard

,budget,popularity,release_date,revenue,runtime,vote_average,vote_count,Action,Adventure,Animation,...,History,Horror,Music,Mystery,Romance,Science Fiction,TV Movie,Thriller,War,Western
id,,,,,,,,,,,,,,,,,,,,,
2,-0.221361,0.344531,0.103719,-0.159593,-0.393069,0.654523,-0.043987,-0.406756,-0.279836,-0.245813,...,-0.17447,-0.340696,-0.262755,-0.228547,-0.400995,-0.253766,-0.17239,-0.414605,-0.160655,-0.141394
3,-0.221361,0.138351,0.094847,-0.159593,-0.368827,0.845104,-0.042980,-0.406756,-0.279836,-0.245813,...,-0.17447,-0.340696,-0.262755,-0.228547,-0.400995,-0.253766,-0.17239,-0.414605,-0.160655,-0.141394
5,0.056297,1.102935,0.135166,-0.076909,0.212980,0.130426,1.938623,-0.406756,-0.279836,-0.245813,...,-0.17447,-0.340696,-0.262755,-0.228547,-0.400995,-0.253766,-0.17239,-0.414605,-0.160655,-0.141394
6,1.236346,0.498381,0.125690,0.076125,0.503884,0.511588,0.029481,2.458475,-0.279836,-0.245813,...,-0.17447,-0.340696,-0.262755,-0.228547,-0.400995,-0.253766,-0.17239,2.411934,-0.160655,-0.141394
8,-0.218446,-0.332238,0.179542,-0.159593,-0.223375,0.988039,-0.183876,-0.406756,-0.279836,-0.245813,...,-0.17447,-0.340696,-0.262755,-0.228547,-0.400995,-0.253766,-0.17239,-0.414605,-0.160655,-0.141394
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
71149,-0.221361,-0.500265,0.130289,-0.159593,3.291711,-0.441315,-0.199979,-0.406756,-0.279836,-0.245813,...,-0.17447,-0.340696,3.805832,-0.228547,-0.400995,-0.253766,-0.17239,-0.414605,-0.160655,-0.141394
71150,-0.221361,-0.509494,-8.660735,-0.159593,3.679583,-2.585347,-0.201992,-0.406756,-0.279836,-0.245813,...,-0.17447,-0.340696,-0.262755,-0.228547,-0.400995,-0.253766,-0.17239,-0.414605,-0.160655,-0.141394
71151,-0.221361,-0.509494,-8.660735,-0.159593,3.025050,-2.585347,-0.201992,-0.406756,-0.279836,-0.245813,...,-0.17447,-0.340696,-0.262755,-0.228547,-0.400995,-0.253766,-0.17239,-0.414605,-0.160655,-0.141394
71152,-0.221361,-0.509494,-8.660735,-0.159593,2.273548,-2.585347,-0.201992,-0.406756,-0.279836,-0.245813,...,-0.17447,-0.340696,-0.262755,-0.228547,-0.400995,-0.253766,-0.17239,-0.414605,-0.160655,-0.141394
71153,-0.221361,-0.371533,0.189030,-0.159593,0.770546,-0.441315,-0.199979,-0.406756,-0.279836,-0.245813,...,-0.17447,-0.340696,3.805832,-0.228547,-0.400995,-0.253766,-0.17239,-0.414605,-0.160655,-0.141394

In [21]:
from sklearn.metrics.pairwise import euclidean_distances

movie_id = 13
print("Movie:",titles.loc[movie_id].values[0])

n = 10
distances = euclidean_distances(
    df_standard.loc[movie_id].values.reshape(1, -1),
    df_standard)
distances = pd.DataFrame(distances,columns=df.index)
recomendations = distances.iloc[0].sort_values()[1:n+1]

top = titles.loc[recomendations.index]
top.columns = ["Title","Release Date"]
top

Movie: Forrest Gump

                                                   Title Release Date
id
603                                           The Matrix   1999-03-30
70160                                   The Hunger Games   2012-03-12
68718                                   Django Unchained   2012-12-25
11                                             Star Wars   1977-05-25
11324                                     Shutter Island   2010-02-14
1726                                            Iron Man   2008-04-30
121                The Lord of the Rings: The Two Towers   2002-12-18
98                                             Gladiator   2000-05-01
120    The Lord of the Rings: The Fellowship of the Ring   2001-12-18
680                                         Pulp Fiction   1994-09-10